{% extends 'shop/base.html '%}

{% block content %}
<section id="billboard" class="py-5" style="background:#fff;">
  <div class="container text-center">

    <!-- Section Title -->
    <h1 class="section-title mb-4" data-aos="fade-up"
        style="color:#870000; font-family:'VAZIRmatn' !important; font-weight:bold; font-size:2rem;">
      درباره‌ی ما
    </h1>

    <!-- About Content -->
    <div class="row justify-content-center">
      <div class="col-md-6" data-aos="fade-up" data-aos-delay="300" style="color:#444; line-height:1.8;">

        <h4 style="color:#870000; font-weight:bold;">لورم ایپسوم</h4>
        <br/>
        <h6>لورم ایپسوم یک متن رندوم</h6>
        <h6>لورم ایپسوم</h6>
        <h6>لورم ایپسوم یک متن رندوم با هدف پر کردن</h6>
        <br/>
        <h6>لورم ایپسوم یک متن رندوم با هدف پر کردن فضای خالی</h6>

      </div>
    </div>

  </div>
</section>

{% endblock %}
