{% extends 'shop/base.html '%}

{% block content %}
  <section id="billboard" class="bg-light py-5">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="section-title text-center mt-4" data-aos="fade-up">درباره‌ی ما</h1>
        <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
            <h4>فروشگاه و آنلاین‌شاپ هانا</h4>
            <br/>
           <h6>تاریخ آغاز فعالیت - 1394</h6>
            <h6>بمدیریت عطا غفارزاده</h6>
            <h6> تبریز، نصف‌راه، پاساژ رویال، همکف، پلاک 11</h6>
            <br/>
            <h6>شما می‌توانید خریدهای خود را به صورت آنلاین و حضوری به ثبت برسانید</h6>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
