{% extends 'shop/base.html' %}

{% block content %}

<section id="billboard" class="bg-light py-5">
    <div class="container">
      <div class="row justify-content-center">

        <h1 class="section-title text-center mt-4" data-aos="fade-up">وبلاگ</h1>
        <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
            <p>وبلاگ‌های ما را بخوانید</p>
            <p>خریدهای خود را به درستی و با دقت انجام دهید</p>
        </div>
      </div>
<div class="row">
        <div class="swiper main-swiper py-4" data-aos="fade-up" data-aos-delay="600">
          <div class="swiper-wrapper d-flex border-animation-left">
            {% for blog in blog_list %}
            <div class="swiper-slide">
              <div class="banner-item image-zoom-effect">
                <div class="image-holder">
                  <a href="{% url 'shop:blog_detail' blog.id %}">
                    <img src="{{ blog.blog_image.url }}" alt="product" class="img-fluid">
                  </a>
                </div>
                <div class="banner-content py-4">
                  <h5 class="element-title text-uppercase">
                    <a href="{% url 'shop:blog_detail' blog.id %}" class="item-anchor">{{ blog.title }}</a>
                  </h5>
                    {% if blog.body_summary %}
                  <p>{{ blog.body_summary }}...</p>
                    {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-left"></use>
          </svg></div>
        <div class="icon-arrow icon-arrow-right"><svg width="50" height="50" viewBox="0 0 24 24">
            <use xlink:href="#arrow-right"></use>
          </svg></div>
      </div>
    </div>
</section>

{% endblock %}
