{% extends 'shop/base.html' %}
{% load humanize %}
{% block content %}
<section class="checkout-review py-5" style="background: linear-gradient(135deg, #ff4b5c, #d90429);">
  <div class="container text-white">
    <div class="row justify-content-center">
      <h1 class="section-title text-center mt-4" data-aos="fade-up">بازبینی خرید</h1>
      <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
        <strong><p>سفارش خود را بررسی کنید</p></strong>
      </div>
    </div>
  </div>

  <div class="container mt-4">

    <!-- Order Summary Card -->
    <div class="card shadow-sm border-0 rounded-4 mb-4">
      <div class="card-header bg-light fw-bold">
        خلاصه سفارش
      </div>
      <div class="card-body">
        {% for product in cart_products %}
          <div class="mb-3">
            <h5 class="mb-1">{{ product.name }}</h5>
            <p class="mb-1 text-muted">
              {% if product.is_available %}
                {% if product.has_discount %}
                  {{ product.price_with_discount|intcomma }}
                {% else %}
                  {{ product.price|intcomma }}
                {% endif %}
              {% else %}
                <span class="text-danger">ناموجود</span>
              {% endif %}
            </p>

    <small class="text-muted">کد محصول:
      {% for key, value in codes_map.items %}
        {% if key == product.id%}
        {{ value }}
      {% endif %}
      {% empty %}
        ندارد
      {% endfor %}
    </small>
<br/>
    <small class="text-muted">تعداد:
      {% for key, qty in quantities.items %}
        {% if key|stringformat:"s"|slice:":1" == product.id|stringformat:"s" %}
          {{ qty }}
        {% endif %}
      {% endfor %}
    </small>
          </div>
        {% endfor %}

        <hr>
        <strong>مجموع: {{ totals|intcomma }}T</strong>
        <br/><br/>
        <a href="{% url 'cart:cart_summary' %}" class="btn btn-outline-secondary rounded-pill px-4">
          ویرایش آیتم‌ها
        </a>
      </div>
    </div>

    <!-- Shipping Info Card -->
    <div class="card shadow-sm border-0 rounded-4 mb-4">
      <div class="card-header bg-light fw-bold">
        اطلاعات ارسال
      </div>
      <div class="card-body">
        <form method="POST" action="{% url 'payment:request' %}">
          {% csrf_token %}
          {{ shipping_form.as_p }}
          <button type="submit" class="btn btn-outline-success rounded-pill px-4 mt-3">
            پرداخت
          </button>
        </form>
      </div>
    </div>

  </div>
</section>



{% endblock %}